<app-menu></app-menu>
<!-- <p>coffees works!</p> -->
<div class="container" *ngFor="let coffee of coffees | paginate: { itemsPerPage: 3, currentPage: p}">
    <a [routerLink]="['/single-coffee']" class="card-link">
    <div class="card custom-card">
        <img [src]="coffee.image_url" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title">{{ coffee.name }}</h3>
            <p class="card-text">{{coffee.tagline}}</p>
            <p class="card-text">Created By: {{coffee.contributed_by}}</p>
        </div>
    </div>
</a>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
