<app-menu></app-menu>

<div class="coffees" >
    <a [routerLink]="['/single-coffee']" class="card-link" *ngFor="let coffee of coffees | paginate: { itemsPerPage: itemsPerPage, currentPage: p}">
    <div class="card custom-card" >
        <img [src]="coffee.image_url" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title">{{ coffee.name }}</h3>
            <p class="card-text">{{coffee.tagline}}</p>
            <p class="card-text"><strong>Created By:</strong>  {{coffee.contributed_by}}</p>
        </div>
    </div>
</a>
<div class="pagination-container">
    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
  
</div>
