<div class="home">
<div class="banner">
  <h1 class="home-text">
    IronCoffee
  </h1>
<div class="thick-arrow-down" (click)="scrollToTarget()"></div>
</div>

<div class="card-container" id="cards">

    <div class="card" style="width: 18rem;" routerLink="/coffees">
      <div class="card-body">
        <div>
          <img class="card-img-top" src="assets\c1.png" alt="coffees">
          <h5 class="card-title">Coffees</h5>
          <p class="card-text">Dive into our coffee world! From classics to new finds, we've got brews for everyone. Taste the goodness, explore flavors, and enjoy your coffee journey with us.</p>
 
        </div>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;" routerLink="/random-coffee">
      <div class="card-body">
        <div>
          <img class="card-img-top" src="assets\c2.png" alt="random-coffee">
          <h5 class="card-title">Random Coffee</h5>
          <p class="card-text">Explore the surprise of our Random Coffee selection, where each cup is a delightful journey into diverse flavors and aromas. Let the element of surprise awaken your taste buds.</p>
  
        </div>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;" routerLink="/new-coffee">
      <div class="card-body" >
        <div>
          <img class="card-img-top" src="assets\c3.png" alt="new-coffee">
          <h5 class="card-title">New Coffee</h5>
          <p class="card-text">Craft your coffee legacy! Add your unique blends and share your coffee creations with the community. Elevate the coffee experience by contributing your distinct concoctions to our growing collection.</p>

        </div>
      </div>
    </div>
    
  </div>


</div>


