<div>
    <div>
      <div>
        <img class="img" src="assets\coffees.jpg" alt="coffees">
        <p><a routerLink="/coffees">Coffees</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim suspendisse in est ante in nibh mauris cursus.</p>
    </div>
    <div>
      <img class="img" src="assets\random-coffee.jpg" alt="random-coffee">
      <p><a routerLink="/random-coffee">Random Coffee</a></p>
      <p>In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
      
    <div>
      <img class="img" src="assets\new-coffee.jpg" alt="new-coffee">
      <p><a routerLink="/new-coffee">New Coffee</a></p>
      <p>Tellus cras adipiscing enim eu turpis egestas pretium. Sem fringilla ut morbi tincidunt augue. Diam sollicitudin tempor id eu nisl.</p>

    </div>
    </div>
  </div>
  