<div class="home">
<div class="banner">
  <h1 class="home-text">
    IronCoffee
  </h1>

</div>

<div class="card-container">

    <div class="card" style="width: 18rem;" routerLink="/coffees">
      <div class="card-body">
        <div>
          <img class="card-img-top" src="assets\c1.png" alt="coffees">
          <h5 class="card-title">Coffees</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim suspendisse in est ante in nibh mauris cursus.</p>
          <!-- <button>go</button> -->
        </div>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;" routerLink="/random-coffee">
      <div class="card-body">
        <div>
          <img class="card-img-top" src="assets\c2.png" alt="random-coffee">
          <h5 class="card-title">Random Coffee</h5>
          <p class="card-text">In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Ante metus dictum at tempor commodo ullamcorper.</p>
          <!-- <button>go</button> -->
        </div>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;" routerLink="/new-coffee">
      <div class="card-body" >
        <div>
          <img class="card-img-top" src="assets\c3.png" alt="new-coffee">
          <h5 class="card-title">New Coffee</h5>
          <p class="card-text">Tellus cras adipiscing enim eu turpis egestas pretium. Sem fringilla ut morbi tincidunt augue. Diam sollicitudin tempor id eu nisl.</p>
          <!-- <button>go</button> -->
        </div>
      </div>
    </div>
    
  </div>


</div>