
header {
    background-color: #000;
    padding: 10px 0;
  }
  
  ul {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  li {
    display: inline-block;
    margin-left: 15px;
  }
  
  a {
    color: #d7d4dd;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
  }
  
  a:hover {
    color: #838bc2;
  }
  .navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
  }

  .navbar-brand{
    font-family: "Luckiest Guy"; 
    font-size:3rem;
    color: #FDF5E6; 
   cursor: pointer;
   text-shadow: 2px 2px 4px #000000;
  }
  .navbar-brand:hover{
  
    color: #6C3428; 
    transition: 0.3s ease-in-out;
 
  }

/* CSS */
.search-btn {
  align-items: center;
  background-color: #BA704F;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.search-btn:hover:after {
  transform: translate(0, 0);
}

.search-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.search-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


  *{
    /* border: #000 solid; */
  }
  